[submodule "deps/uri"]
	path = deps/uri
	url = https://github.com/reBass/uri
[submodule "deps/Beast"]
	path = deps/Beast
	url = https://github.com/vinniefalco/Beast.git
[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest.git
[submodule "deps/rapidcheck"]
	path = deps/rapidcheck
	url = https://github.com/emil-e/rapidcheck.git
